.tweet-skeleton_root__1sn43{pointer-events:none;padding-bottom:.25rem}
.tweet-not-found_root__KQedq{display:flex;flex-direction:column;align-items:center;padding-bottom:.75rem}
.tweet-not-found_root__KQedq>h3{font-size:1.25rem;margin-bottom:.5rem}
